minimum-release-age=0
minimumReleaseAge=0
minimum-release-age-exclude[]=@sinclair/typebox
minimum-release-age-exclude[]=baseline-browser-mapping
minimum-release-age-exclude[]=browserslist
minimum-release-age-exclude[]=caniuse-lite